# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dist/

# Secrets
.env

# Developement
.venv

# Test binary
*.test

# Dependency directories (remove the comment below to include it)
# vendor/
